user_list = {{ J2_USER_LIST }}
cluster_suffix = "{{ J2_CLUSTER_SUFFIX }}"
aws_profile    = "{{ J2_AWS_PROFILE }}"
cluster_version = "{{ J2_CLUSTER_VERSION }}"
node_instance_type = "{{ J2_NODE_INSTANCE_TYPE }}"
nodegroup_desired_capacity = {{ J2_NODEGROUP_DESIRED_CAPACITY }}